.src{
	width: 250px;
	margin-left:75%;
}

.text-go-left{
	text-decoration: none;
	text-align: right;
	
}

#cetak
{
	width: 100%;
	margin: auto;
	background-color: #fff;
	
	
}


@page{
	margin-top:2cm;
	margin-left: 2cm;
	margin-right: 2cm;
	margin-bottom: 2.5cm;
}

table{
	
	border-collapse: collapse;
	margin: auto;

}

td,th{
	border: 1px solid #999;
	padding-left: 3px;
	padding-right: 3px;
	
	

}


.label{
	
	/*text-align: right;*/

}

#judul
{
	text-align: center;
	line-height: 5px;
}

hr{
	width: 50%;
	margin: auto;
	height: 1px;
	background-color: #000;
}

@page {
margin: 2cm;
}

@page :left {
margin: 2cm;
}

@page :right {
margin: 2cm;
}

@page :first {
  margin: 1cm 2cm;
}

.blink{
		font-size: 240px;
		color: rgb (0, 137, 226);
		
		animation: blink 1s infinite;
	 }
	 
	 @keyframes blink{
		0%{opacity: 1;}
		75%{opacity: 1;}
		76%{ opacity: 0;}
		100%{opacity: 0;}
	 }